<ion-header>
    <ion-toolbar color="dark">
        <ion-title float-left padding-top>Pincer, Web & Fang</ion-title>
        <ion-button float-right button color="dark" (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>Win this game Pincer, Web or Claw to reveal 5 rooms:</p>
    <ion-grid>
        <ion-row>
            <ion-col><ion-button>1</ion-button></ion-col>
            <ion-col><ion-button>2</ion-button></ion-col>
            <ion-col><ion-button>3</ion-button></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
