<!-- <ion-header>
    <ion-toolbar><ion-title>Maze of Monsters</ion-title></ion-toolbar>
</ion-header> -->

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <p class="text">
                    This is wonderful! What a hideous creature you've become. Be sure to give good advice to the next
                    poor soul trying to navigate the maze. As if anyone could ever find the way out, ha, ha ha...
                </p>

                <ion-button shape="round" expand="block" (click)="tryAgain()" color="light" fill="outline">Try Again</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
