<ion-content>
    <div id="row1">
        <div id="column1" class="left">
            <p class="text">
                <span *ngIf="firstLine">What a hideous creature you've become!</span>

                <span class="text" *ngIf="secondLine">
                    <br />
                    <br />
                    Be sure to help to the next poor soul trying to navigate the maze.
                </span>

                <span class="text" *ngIf="thirdLine">
                    <br />
                    <br />
                    As if anyone could ever find the way out, ha, ha ha...
                </span>
            </p>

            <ion-button
                *ngIf="buttonReady"
                class="fade"
                shape="round"
                expand="block"
                (click)="tryAgain()"
                color="light"
                fill="outline"
            >
                Try Again
            </ion-button>
        </div>
        <div id="column2" class="intro long-fade" [ngStyle]="{ 'background-image': monsterImageUrl }"></div>
    </div>
</ion-content>
