<!-- <ion-header>
    <ion-toolbar><ion-title>Maze of Monsters</ion-title></ion-toolbar>
</ion-header> -->

<ion-content>
    <div id="row1">
        <div id="column1" class="intro"></div>
        <div id="column2" class="left">
            <p class="text">
                <span *ngIf="firstLine">Wait! How did this happen?</span>

                <span class="text" *ngIf="secondLine">
                    <br />
                    <br />
                    My maze was supposed to be unbeatable!
                    <br />
                    Oh well, some other unlucky human will come around soon.
                </span>

                <span class="text" *ngIf="thirdLine">
                    <br />
                    <br />
                    Enjoy your freedom...this time.
                </span>
            </p>

            <ion-button
                *ngIf="buttonReady"
                (click)="beginMaze()"
                shape="round"
                expand="block"
                color="light"
                fill="outline"
                class="fade"
            >
                Collect Reward
            </ion-button>
        </div>
    </div>
</ion-content>
