<!-- <ion-header>
    <ion-toolbar><ion-title>Maze of Monsters</ion-title></ion-toolbar>
</ion-header> -->

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <p class="text">
                    Wait! How did this happen? My maze was supposed to be unbeatable! You completed the maze in 14
                    minutes, 30 seconds. Oh well, some other unlucky human will come around soon. Enjoy your
                    freedom...this time.
                </p>


            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
