<ion-header>
    <ion-toolbar color="dark">
        <ion-title float-left padding-top>Map</ion-title>
        <ion-button float-right button color="dark" (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content color="dark" no-padding>
    <div>
        <table
            id="maze"
            style="padding-bottom: 10px; padding-left: 2px; padding-right: 2px; border-collapse: collapse"
            [innerHtml]="safeHtml"
        ></table>
    </div>
</ion-content>
