<!-- <ion-header color="danger">
    <ion-toolbar color="danger"><ion-title>Maze of Monsters</ion-title></ion-toolbar>
</ion-header> -->

<ion-content padding class="main">
    <ion-grid>
        <ion-row>
            <ion-col size="6">
              
                <p class="text">
                    What a nice looking person! Unfortunately, you have 10 minutes to reach the end of my maze to avoid
                    being turned into one of my monsters. It's a wonderful collection.
                </p>
           

                <ion-button (click)="beginMaze()" shape="round" expand="block" color="light" fill="outline">
                    Begin Maze
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
