<!-- <ion-header color="danger">
    <ion-toolbar color="danger"><ion-title>Maze of Monsters</ion-title></ion-toolbar>
</ion-header> -->

<link rel="prefetch" href="../../assets/monsters/DivineGuardian.png" as="image" />
<link rel="prefetch" href="../../assets/monsters/Dragon.png" as="image" />
<link rel="prefetch" href="../../assets/monsters/Goblin.png" as="image" />
<link rel="prefetch" href="../../assets/monsters/Lichlord.png" as="image" />
<link rel="prefetch" href="../../assets/monsters/Naga.png" as="image" />
<link rel="prefetch" href="../../assets/monsters/Orc.png" as="image" />
<link rel="prefetch" href="../../assets/monsters/Ratman.png" as="image" />
<link rel="prefetch" href="../../assets/monsters/Treefolk.png" as="image" />
<link rel="prefetch" href="../../assets/monsters/Troll.png" as="image" />
<link rel="prefetch" href="../../assets/monsters/intro.jpg" as="image" />
<link rel="prefetch" href="../../assets/monsters/zombie.png" as="image" />
<link rel="prefetch" href="assets/sandstone.jpg" as="image" />
<link rel="prefetch" href="assets/new-sandstone-3.jpg" as="image" />
<link rel="prefetch" href="assets/new-sandstone.jpg" as="image" />
<link rel="prefetch" href="assets/stone.jpg" as="image" />
<link rel="prefetch" href="../../assets/orb/planet-1.png" as="image" />
<link rel="prefetch" href="../../assets/orb/planet-10.png" as="image" />
<link rel="prefetch" href="../../assets/orb/planet-12.png" as="image" />
<link rel="prefetch" href="../../assets/orb/planet-3.png" as="image" />
<link rel="prefetch" href="../../assets/orb/planet-5.png" as="image" />
<link rel="prefetch" href="../../assets/orb/planet-7.png" as="image" />
<link rel="prefetch" href="../../assets/orb/planet-9.png" as="image" />
<link rel="prefetch" href="../../assets/ssb/LongSword.png" as="image" />
<link rel="prefetch" href="../../assets/ssb/RoundShield.png" as="image" />
<link rel="prefetch" href="../../assets/ssb/ShortBow.png" as="image" />
<link rel="prefetch" href="../../assets/minigames/full_yellow_2.png" as="image" />
<link rel="prefetch" href="../../assets/death/boss_goblinbigboss.png" as="image" />
<link rel="prefetch" href="../../assets/death/boss_thenightmother.png" as="image" />
<link rel="prefetch" href="../../assets/death/boss_voidelemental.png" as="image" />
<link rel="prefetch" href="../../assets/death/monster_crystalgolem.png" as="image" />
<link rel="prefetch" href="../../assets/death/monster_deepelf.png" as="image" />
<link rel="prefetch" href="../../assets/death/monster_demilich.png" as="image" />
<link rel="prefetch" href="../../assets/death/monster_devilkin.png" as="image" />
<link rel="prefetch" href="../../assets/death/monster_dragonwhelp.png" as="image" />
<link rel="prefetch" href="../../assets/death/monster_fireelemental.png" as="image" />
<link rel="prefetch" href="../../assets/death/monster_goblinveteran.png" as="image" />
<link rel="prefetch" href="../../assets/death/monster_imp.png" as="image" />
<link rel="prefetch" href="../../assets/death/monster_minotaur.png" as="image" />
<link rel="prefetch" href="../../assets/death/monster_ooze.png" as="image" />
<link rel="prefetch" href="../../assets/death/monster_ratling.png" as="image" />
<link rel="prefetch" href="../../assets/death/monster_treefolk.png" as="image" />
<link rel="prefetch" href="../../assets/death/monster_werewolfcub.png" as="image" />
<link rel="prefetch" href="assets/ceiling.jpg" as="image" />
<link rel="prefetch" href="assets/cave-exit.jpg" as="image" />
<link rel="prefetch" href="../../assets/gems/aqua.png" as="image" />
<link rel="prefetch" href="../../assets/gems/blue.png" as="image" />
<link rel="prefetch" href="../../assets/gems/green.png" as="image" />
<link rel="prefetch" href="../../assets/gems/red.png" as="image" />
<link rel="prefetch" href="../../assets/gems/violet.png" as="image" />
<link rel="prefetch" href="../../assets/gems/yellow.png" as="image" />
<link rel="prefetch" href="../../assets/audio/1.wav" as="image" />
<link rel="prefetch" href="../../assets/audio/2.wav" as="image" />
<link rel="prefetch" href="../../assets/audio/3.wav" as="image" />
<link rel="prefetch" href="../../assets/audio/Fire.mp3" as="image" />
<link rel="prefetch" href="../../assets/audio/HappyMusic.ogg" as="image" />
<link rel="prefetch" href="../../assets/audio/Magic Smite.wav" as="image" />
<link rel="prefetch" href="../../assets/audio/MonsterCreaturesVoiceSound005.mp3" as="image" />
<link rel="prefetch" href="../../assets/audio/beep.wav" as="image" />
<link rel="prefetch" href="../../assets/audio/deathb.wav" as="image" />
<link rel="prefetch" href="../../assets/audio/deathd.wav" as="image" />
<link rel="prefetch" href="../../assets/audio/grunt.wav" as="image" />
<link rel="prefetch" href="../../assets/audio/grunt1.wav" as="image" />
<link rel="prefetch" href="../../assets/audio/laugh-evil-1.ogg" as="image" />
<link rel="prefetch" href="../../assets/audio/lose music 1 - 1_0.wav" as="image" />
<link rel="prefetch" href="../../assets/audio/lose sound 1-2.wav" as="image" />
<link rel="prefetch" href="../../assets/audio/painb.wav" as="image" />
<link rel="prefetch" href="../../assets/audio/short wind sound.wav" as="image" />
<link rel="prefetch" href="../../assets/audio/snarl.wav" as="image" />
<link rel="prefetch" href="../../assets/audio/snort.wav" as="image" />
<link rel="prefetch" href="../../assets/audio/theme.ogg" as="image" />
<link rel="prefetch" href="../../assets/audio/ui click 10 [2018-10-13 162315].wav" as="image" />
<link rel="prefetch" href="../../assets/audio/ui click 11 [2018-10-13 162315].wav" as="image" />
<link rel="prefetch" href="../../assets/audio/ui click 11 [2018-10-13 162315].wav" as="image" />
<link rel="prefetch" href="../../assets/audio/win sound 2-3.wav" as="image" />
<link rel="prefetch" href="../../assets/audio/woop.wav" as="image" />

<ion-content class="main">
    <div id="row1">
        <div id="column1" class="left">
            <p class="text">
                <span *ngIf="firstLine">What a nice looking person!</span>

                <span class="text" *ngIf="secondLine">
                    <br />
                    <br />
                    Unfortunately, you have 15 minutes to reach the end of my maze to avoid being turned into one of my
                    monsters.
                </span>

                <span class="text" *ngIf="thirdLine">
                    <br />
                    <br />
                    It's a wonderful collection.
                </span>
            </p>
            <ion-button
                *ngIf="buttonReady"
                (click)="beginMaze()"
                shape="round"
                expand="block"
                color="light"
                fill="outline"
                class="fade"
            >
                Begin Maze
            </ion-button>
        </div>

        <div id="column2" class="intro"></div>
    </div>
</ion-content>
