<ion-header>
    <ion-toolbar color="danger">
        <ion-title float-left padding-top>Xs and Os</ion-title>
        <ion-button float-right button mode="ios" color="danger" (click)="closeModal(null)">
            <ion-icon name="close"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content color="dark" padding>
    <p>Beat me in this game of Xs and Os for help:</p>
    <ion-grid>
        <ion-row>
            <ion-col
                class="tile"
                [ngClass]="[isX(0) ? 'x' : '', isO(0) ? 'o' : '', getStatus(0) ? 'picked' : '']"
                (click)="markTile(0)"
            ></ion-col>
            <ion-col
                class="tile"
                [ngClass]="[isX(1) ? 'x' : '', isO(1) ? 'o' : '', getStatus(1) ? 'picked' : '']"
                (click)="markTile(1)"
            ></ion-col>
            <ion-col
                class="tile"
                [ngClass]="[isX(2) ? 'x' : '', isO(2) ? 'o' : '', getStatus(2) ? 'picked' : '']"
                (click)="markTile(2)"
            ></ion-col>
        </ion-row>
        <ion-row>
            <ion-col
                class="tile"
                [ngClass]="[isX(3) ? 'x' : '', isO(3) ? 'o' : '', getStatus(3) ? 'picked' : '']"
                (click)="markTile(3)"
            ></ion-col>
            <ion-col
                class="tile"
                [ngClass]="[isX(4) ? 'x' : '', isO(4) ? 'o' : '', getStatus(4) ? 'picked' : '']"
                (click)="markTile(4)"
            ></ion-col>
            <ion-col
                class="tile"
                [ngClass]="[isX(5) ? 'x' : '', isO(5) ? 'o' : '', getStatus(5) ? 'picked' : '']"
                (click)="markTile(5)"
            ></ion-col>
        </ion-row>
        <ion-row>
            <ion-col
                class="tile"
                [ngClass]="[isX(6) ? 'x' : '', isO(6) ? 'o' : '', getStatus(6) ? 'picked' : '']"
                (click)="markTile(6)"
            ></ion-col>
            <ion-col
                class="tile"
                [ngClass]="[isX(7) ? 'x' : '', isO(7) ? 'o' : '', getStatus(7) ? 'picked' : '']"
                (click)="markTile(7)"
            ></ion-col>
            <ion-col
                class="tile"
                [ngClass]="[isX(8) ? 'x' : '', isO(8) ? 'o' : '', getStatus(8) ? 'picked' : '']"
                (click)="markTile(8)"
            ></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
