<ion-header>
    <ion-toolbar><ion-title>generator2</ion-title></ion-toolbar>
</ion-header>

<ion-content padding>
    <button (click)="generate()">generate</button>
    <br />
    <br />
    <table id="maze" style=" border-collapse: collapse" [innerHtml]="safeHtml"></table>

    {{ currentRoom }}

    <br />
    Top: {{ hasTop }}
    <br />
    Right: {{ hasRight }}
    <br />
    Bottom: {{ hasBottom }}
    <br />
    Left: {{ hasLeft }}
    <br />
    current direction: {{ currentDirection }}
    <br />
    <pre>
        {{ currentRoute | json }}
</pre
    >
</ion-content>
