.hall {
    height: calc(55vmin - 3px);
}

.inner-scroll,
.scroll-y,
.overscroll {
    overflow: hidden !important;
}
.grid {
    perspective: 600px;
    // background: #000;

    transform-style: preserve-3d;
}

.door-overlay {
    perspective: 1000px;
    // background: #000;

    transform-style: preserve-3d;
}

.solid-wall {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75)),
        url(../../assets/sandstone-large.jpg) !important;
    background-size: cover;
}

// .top {
//     height: 8.5vmax;
//     // background-image: url(../../assets/test4.png);
//     // background-color: #444;
//     background-size: cover;
//     background-position: left top;
// }

// .bottom {
//     height: 13.5vmax;
//     // background-image: url(../../assets/test3.png);
//     // background-color: #555;
//     background-size: cover;
//     background-position: left bottom;
// }

a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

// .left-door {
//     position: absolute;
//     left: 8vw;
//     width: 10vw;
//     background-color: #080402;
//     height: 90vw;
//     top: 10vw;
//     z-index: 999;
//     border-radius: 15px;
//     transform: skew(0deg, -155deg);
//     transform-style: none;
//     perspective: 0;
//     perspective: 600px;
//     transform-style: preserve-3d;
//     // clip-path: inset(10px 20px 30px 40px);
//     // border-image: linear-gradient(to left, #000, #888) 30 round;
//     // border-left: 20px solid red;
//     background-image: linear-gradient(to right, #584a39, #050301 10%);
// }

// .right-door {
//     position: absolute;
//     right: 8vw;
//     width: 10vw;
//     background-color: #080402;
//     height: 100vw;
//     top: 10vw;
//     border-radius: 15px;
//     transform: skew(0deg, 155deg);
//     background-image: linear-gradient(to left, #584a39, #050301 10%);
// }
// .right {
//     border-right: 20.7vmax solid #333;
//     border-top: 8.5vmax solid #444;
//     border-bottom: 13.5vmax solid #555;
//     width: 100%;
//     height: 100%;
// }

.maze {
    // perspective: 600px;

    background: #080402;
}

ion-fab-button,
.button-native,
ion-fab {
    transform: translateZ(1100px);
    transform-style: preserve-3d;
}

.door-overlay {
    position: absolute;
    top: 10vh;
    left: 0;
    right: 0;
    bottom: 0;

    transform-style: preserve-3d;
    z-index: 1;
    transform: translateZ(1100px);
}

.maze,
.grid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    perspective: 600px;
    transform-style: preserve-3d;
    z-index: 0;
    transform: translateZ(0px);
}

.maze:before,
.maze:after,
.grid:before,
.grid:after {
    position: absolute;
    left: 50%;
    top: 50%;
    content: '';
    z-index: 0;
    background-size: 100% 100%, 400px 400px;
    // animation: 10s move3 linear infinite;
}

.door-overlay:before,
.door-overlay:after {
    position: absolute;
    left: 50%;
    top: 50%;
    content: '';
    background-size: 200% 200%, 200px 200px;
}

/* ceiling */
.maze:before,
.maze:after {
    position: absolute;
    z-index: 0;
    width: 200px;
    height: 1600px;
    margin: -800px -100px;
    // animation: 5s move2 linear infinite;
}
/* walls */

.sandstone:before,
.sandstone-right:before {
    height: 200px;
    width: 1600px;
    margin: -100px -800px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 1)),
        url(../../assets/new-sandstone-3.jpg);
}

.sandstone:after,
.sandstone-left:after {
    height: 200px;
    width: 1600px;
    margin: -100px -800px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 1)),
        url(../../assets/new-sandstone-3.jpg);
}

.sandstone-left:before,
.sandstone-both:before {
    height: 200px;
    width: 1600px;
    margin: -100px -800px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 1)),
        url(../../assets/new-sandstone-4.jpg);
    background-position: center center;
}

.sandstone-both:after,
.sandstone-right:after {
    height: 200px;
    width: 1600px;
    margin: -100px -800px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 1)),
        url(../../assets/new-sandstone-5.jpg);
    background-position: center center;
}

// .sandstone-door-left:before,
// .sandstone-door-both:before {
//     height: 350px;
//     width: 400px;
//     margin: -160.5px -240px;
//     background: black;
//     transform: translateZ(9999000px);
//     transform-style: preserve-3d;
// }

// .sandstone-door-right:after,
// .sandstone-door-both:after {
//     height: 350px;
//     width: 400px;
//     margin: -160.5px -181px;
//     background: black;
//     transform: translateZ(15000px);
//     transform-style: preserve-3d;
// }

/* ceiling */
.maze:before {
    z-index: -1;
    position: absolute;
    transform: translateY(-100px) rotateX(-90deg);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 1)),
        url(../../assets/sandy.jpg);
}

/* floor */
.maze:after {
    z-index: -1;
    position: absolute;
    transform: translateY(100px) rotateX(-90deg);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 1)),
        url(../../assets/stone.jpg);
}

/* left wall */
.grid:before {
    transform: translateX(-100px) rotateY(90deg);
}

/* right wall */
.grid:after {
    transform: translateX(100px) rotateY(90deg);
}

// .door-overlay:before {
//     background-image: linear-gradient(to left, #584a39, #050301 10%);
//     z-index: 1;

//     transform: translate(-200px) rotateY(93deg);
//     border-right: solid 20px #584a39;
//     border-top-left-radius: 30px;
//     // transform: translateZ(9000px);
//     // transform-style: preserve-3d;
// }

/* right wall */

// .door-overlay:after {
//     // z-index: 99999;
//     z-index: 1;
//     transform: translateX(200px) rotateY(87.5deg);
//     border-right: solid 20px #584a39;
//     border-top-left-radius: 30px;
//     background-image: linear-gradient(to left, #584a39, #050301 10%);
//     // transform: translateZ(9000px);
//     // transform-style: preserve-3d;
// }

.flipV {
    transform: rotate(180deg);
}
.flipLeft {
    transform: rotate(90deg);
}
.flipRight {
    transform: rotate(270deg);
}

.pointer {
    cursor: pointer;
}

.monster {
    width: 100vw;
    // max-width: 1000px;
    height: 100vh;
    // max-height: 1500px;
    position: absolute;

    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    left: 3vw;
    // border: solid red 10px;
    top: 20vh;

    z-index: 999999;
    transform: translateZ(15000px);
    transform-style: flat;
}

.treefolk {
    background-image: url(../../assets/monsters/Treefolk.png);
}

.fire {
    background-image: url(../../assets/monsters/DivineGuardian.png);
}
.dragon {
    background-image: url(../../assets/monsters/Dragon.png);
}
.goblin {
    background-image: url(../../assets/monsters/Goblin.png);
}
.lichlord {
    background-image: url(../../assets/monsters/Lichlord.png);
}
.naga {
    background-image: url(../../assets/monsters/Naga.png);
}
.orc {
    background-image: url(../../assets/monsters/Orc.png);
}
.ratman {
    background-image: url(../../assets/monsters/Ratman.png);
}
.troll {
    background-image: url(../../assets/monsters/Troll.png);
}
.zombie {
    background-image: url(../../assets/monsters/zombie.png);
}

[hidden] {
    display: none !important;
}
