<ion-content (keyup)="onKey($event)" no-bounce [ngClass]="[hasRight ? 'has-right' : '', hasLeft ? 'has-left' : '']">
    <div *ngIf="hasLeft && wallReady" class="left-door"></div>

    <div *ngIf="hasRight && wallReady" class="right-door"></div>

    <ion-fab *ngIf="wallReady && !monsterPresent" vertical="center" horizontal="end" edge slot="fixed">
        <ion-fab-button *ngIf="hasRight" [disabled]="!hasRight" size="small" color="dark" (click)="moveRight()">
            <ion-icon name="arrow-forward"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab *ngIf="wallReady && !monsterPresent" vertical="center" horizontal="start" edge slot="fixed">
        <ion-fab-button *ngIf="hasLeft" [disabled]="!hasLeft" size="small" color="dark" (click)="moveLeft()">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab *ngIf="wallReady && !monsterPresent" vertical="top" horizontal="center" slot="fixed">
        <ion-fab-button *ngIf="hasForward" [disabled]="!hasForward" size="small" color="dark" (click)="moveForward()">
            <ion-icon name="arrow-up"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab *ngIf="wallReady && !monsterPresent" vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button class="backButton" size="small" color="dark" (click)="turnAround()">
            <ion-icon name="refresh"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="left" slot="fixed">
        <ion-fab-button size="small" color="dark" (click)="openMap()"><ion-icon name="map"></ion-icon></ion-fab-button>
    </ion-fab>

    <ion-fab vertical="top" horizontal="left" slot="fixed">
        <ion-fab-button size="small" color="dark">
            <strong>{{ currentDirection | uppercase }}</strong>
        </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="top" horizontal="end" slot="fixed">
        {{ timeLeft }}

        <!-- <ion-fab-button size="small" color="dark"><div class="radial"></div></ion-fab-button> -->
    </ion-fab>

    <ion-img *ngIf="monsterPresent" class="monster" src="{{ monsterImageUrl }}"></ion-img>

    <div
        (keyup)="onKey($event)"
        slot="fixed"
        [@myAwesomeAnimation]="state"
        (@myAwesomeAnimation.done)="onAnimationEvent($event)"
        class="maze"
        [ngClass]="{ 'solid-wall': !hasForward && wallReady }"
    >
        <ion-grid no-padding class="grid" [ngClass]="wallClass">
            <ion-row no-padding>
                <ion-col no-padding class="wall-1">
                    <a><div class="left"></div></a>
                </ion-col>
                <ion-col class="middle" no-padding>
                    <ion-grid no-padding>
                        <ion-row>
                            <ion-col no-padding class="top"><a></a></ion-col>
                        </ion-row>

                        <ion-row><ion-col no-padding class="hall"></ion-col></ion-row>

                        <ion-row>
                            <ion-col no-padding class="bottom"><a></a></ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
                <ion-col no-padding class="wall-2">
                    <a><div class="right"></div></a>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
