<!-- <ion-header>
    <h1>Up: {{ hasUp }}</h1>
    <ion-toolbar>
        <ion-title>
            <h1>Right: {{ hasRight }}</h1>
            <h1>Left: {{ hasLeft }}</h1>
            <h1>Up: {{ hasUp }}</h1>
            <h1>wallReady: {{ wallReady }}</h1>
        </ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content no-bounce [ngClass]="[hasRight ? 'has-right' : '', hasLeft ? 'has-left' : '']">
    <div *ngIf="hasLeft && wallReady" class="left-door"></div>
    <div *ngIf="hasRight && wallReady" class="right-door"></div>
    <ion-fab *ngIf="wallReady" vertical="center" horizontal="end" edge slot="fixed">
        <ion-fab-button *ngIf="hasRight" [disabled]="!hasRight" size="mini" color="dark" (click)="move('r')">
            <ion-icon name="arrow-forward"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab *ngIf="wallReady" vertical="center" horizontal="start" edge slot="fixed">
        <ion-fab-button *ngIf="hasLeft" [disabled]="!hasLeft" size="mini" color="dark" (click)="move('l')">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-fab *ngIf="wallReady" vertical="top" horizontal="center" slot="fixed">
        <ion-fab-button *ngIf="hasForward" [disabled]="!hasForward" size="mini" color="dark" (click)="move('f')">
            <ion-icon name="arrow-up"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-fab *ngIf="wallReady" vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button *ngIf="routeHistory.length" class="backButton" size="mini" color="dark" (click)="move('back')">
            <ion-icon name="refresh"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="top" horizontal="left" slot="fixed">
        <ion-fab-button size="mini" color="dark">
            {{ currentRoute.id }}
            <strong>{{ currentDirection | uppercase }}</strong>
        </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button size="mini" color="primary">
            <div class="wrapper">
                <div class="spinner pie"></div>
                <div class="filler pie"></div>
                <div class="mask"></div>
            </div>
        </ion-fab-button>
    </ion-fab>

    <span *ngIf="heartPresent" class="heartbeat heart">Loading...</span>
    <ion-img *ngIf="monsterPresent" class="monster" src="../../assets/squirt.png"></ion-img>
    <div
        slot="fixed"
        [@myAwesomeAnimation]="state"
        (@myAwesomeAnimation.done)="onAnimationEvent($event)"
        class="maze"
        [ngClass]="{ 'solid-wall': !hasForward && wallReady }"
    >
        <ion-grid no-padding class="grid" [ngClass]="wallClass">
            <ion-row no-padding>
                <ion-col no-padding class="wall-1">
                    <a><div class="left"></div></a>
                </ion-col>
                <ion-col class="middle" no-padding>
                    <ion-grid no-padding>
                        <ion-row>
                            <ion-col no-padding class="top"><a></a></ion-col>
                        </ion-row>

                        <ion-row><ion-col no-padding class="hall"></ion-col></ion-row>

                        <ion-row>
                            <ion-col no-padding class="bottom"><a></a></ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
                <ion-col no-padding class="wall-2">
                    <a><div class="right"></div></a>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
