.tile {
    height: calc(60vh - 60px);
    max-height: 200px;

    // line-height: calc(100vh - 60px);

    text-align: center;
}

.hover {
    opacity: 0.9;
}

.hover:hover {
    opacity: 1;
}
.shield {
    background-image: url(../../assets/ssb/RoundShield.png);
    background-size: contain;
    background-color: #754c2e;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 1px black;
}

.bow {
    background-image: url(../../assets/ssb/ShortBow.png);
    background-size: contain;
    background-color: #754c2e;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 1px black;
}

.sword {
    background-image: url(../../assets/ssb/LongSword.png);
    background-size: contain;
    background-color: #754c2e;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 1px black;
}
