<ion-header>
    <ion-toolbar color="danger">
        <ion-title float-left padding-top>Sword, Shield, & Bow</ion-title>
        <ion-button float-right button mode="ios" color="danger" (click)="closeModal(null)">
            <ion-icon name="close"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content padding color="dark">
    <p *ngIf="goAgain">We tied! Let's play again...</p>

    <div *ngIf="!goAgain">
        <p *ngIf="humanTurn">
            Beat me in this game of Sword, Shield, & Bow for help. Shield beats bow, bow beats sword, and sword beats
            shield.
        </p>
        <ion-grid *ngIf="humanTurn">
            <ion-row>
                <ion-col class="sword hover pointer tile" (click)="makeChoice('sword')"><br /></ion-col>
                <ion-col class="shield hover pointer tile" (click)="makeChoice('shield')"><br /></ion-col>
                <ion-col class="bow hover pointer tile" (click)="makeChoice('bow')"><br /></ion-col>
            </ion-row>
        </ion-grid>

        <p *ngIf="!humanTurn">I picked {{ cpuChoice }}!</p>

        <ion-grid *ngIf="!humanTurn">
            <ion-row>
                <ion-col class="tile" [ngClass]="{ sword: isSword() }"><br /></ion-col>
                <ion-col class="tile" [ngClass]="{ shield: isShield() }"><br /></ion-col>
                <ion-col class="tile" [ngClass]="{ bow: isBow() }"><br /></ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
